doctype html
html
  head
    meta(charset='utf-8')
    title= constants.APP_NAME

  //- Warning: livereload does not work in this file
  body(ng-app=constants.APP_NAME ng-strict-di)
    div(ui-view) Loading...
    script(src='app.js?t=' + Date.now())
