doctype html
html
  head
    meta(charset='utf-8')
    title Styleguide
    link(rel='stylesheet' href=resolve('github-markdown.css'))
    block head
    style.
      .component-list {
        background: red;
      }

  body(ng-app=constants.APP_NAME ng-strict-di)
    main.StyleguideAs_Wrapper
      aside.StyleguideAs_Sidebar
        header
          h1: a(href=resolve()) Styleguide

        .StyleguideAs_TableOfContents
          input(type='search')
          ul.StyleguideAs_TableOfContents__list
            for component in components
              li
                a(href=resolve(component.name))
                  = component.name

      block body
    script(src='/app.js?t=' + Date.now())
