extends layout

block head
  link(rel='stylesheet' href='/github-markdown.css')

//- Warning: livereload does not work in this file
block body
  .markdown-body
    for component in components
      != component
